services:
  php:
    build:
      context: ./docker/php/
    ports:
      - "8080:80"
    volumes:
      - ./src/public:/var/www/html/public
      - ./src/app/controllers:/var/www/html/controllers
      - ./src/app/models:/var/www/html/models
      - ./src/app/view:/var/www/html/view
      - ./src/core:/var/www/html/core
      - ./docker/php/vendor:/var/www/html/vendor

  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_USER=prtimes
      - POSTGRES_PASSWORD=prtimes
      - POSTGRES_DB=postsdb
    volumes:
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
volumes:
  postgres_data:
